# ============== BACKEND ==============
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
BACKEND_RELOAD=true

# ============== FRONTEND ==============
FRONTEND_PORT=80

# ============== MLFLOW ==============
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=postgresql://mlflow_user:mlflow_password@postgresql:5432/mlflow_db
MLFLOW_ARTIFACT_ROOT=s3://writer-ai/

# ============== POSTGRESQL ==============
POSTGRES_USER=mlflow_user
POSTGRES_PASSWORD=mlflow_password
POSTGRES_DB=mlflow_db
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432

# ============== MinIO ==============
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_S3_ENDPOINT_URL=http://minio:9000

# ============== EVIDENTLY ==============
EVIDENTLY_HOST=0.0.0.0
EVIDENTLY_PORT=8001

# ============== ML ==============
MODEL_REGISTRY_STAGE=Production
RANDOM_STATE=42
TEST_SIZE=0.2
